<ul>
  <% @topics.each do |topic| %>
      <li>
        <%= topic.title %>
      </li>
  <% end %>
</ul>

<form method="post" action="./talk">
  <textarea type="text" name="comment"></textarea>
  <input type="submit" value="送信">
</form>

