<ul>
  <% @topics.each do |topic| %>
      <li>
        <%= topic.title %>
      </li>
  <% end %>
</ul>



<form method="post" action="/talks">
  <textarea type="text" name="body"></textarea>
  <input type="submit" value="送信">
</form>

